In [1]:
import pandas as pd
import numpy as np

In [7]:
#load the data
car_data = pd.read_csv('./data/car_prices_clean.csv', index_col=0)

goal = car_data["sellingprice"].astype(float)

one_hot = pd.get_dummies(car_data["make"])
one_hot.columns = one_hot.columns.str.lower()
car_data = car_data.drop(columns=["make"])
car_data = car_data.join(one_hot)

one_hot = pd.get_dummies(car_data["model"])
one_hot.columns = one_hot.columns.str.lower()
car_data = car_data.drop(columns=["model"])
car_data = car_data.join(one_hot, lsuffix="_model")

# one_hot = pd.get_dummies(car_data["color"])
# one_hot.columns = one_hot.columns.str.lower()
# car_data = car_data.drop(columns=["color"])
# car_data = car_data.join(one_hot)

one_hot = pd.get_dummies(car_data["body"])
one_hot.columns = one_hot.columns.str.lower()
car_data = car_data.drop(columns=["body"])
car_data = car_data.join(one_hot, lsuffix="_body")

one_hot = pd.get_dummies(car_data["state"])
one_hot.columns = one_hot.columns.str.lower()
car_data = car_data.drop(columns=["state"])
car_data = car_data.join(one_hot, lsuffix="_state")

# time = pd.to_datetime(car_data["year"])
# car_data["year"] = time.dt.year

# car_data = car_data.drop(columns=["trim", "transmission", "interior", "saledate", "year", "vin", "seller"])

In [8]:
car_data.head()

,year,condition,odometer,mmr,sellingprice,acura,aston martin,audi,bmw,bentley,...,pa,pr,qc,sc,tn,tx,ut,va,wa,wi
0,2015,5.0,16639.0,20500.0,21500.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2015,5.0,9393.0,20800.0,21500.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2014,45.0,1331.0,31900.0,30000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,2015,41.0,14282.0,27500.0,27750.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2014,43.0,2641.0,66000.0,67000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
#save the data
car_data.to_csv("./data/car_prices_processed.csv", index=False)

In [9]:
car_data.shape

(534280, 954)

In [14]:
# from layers import Input, Dense, BatchNorm, SkipConn, Attn, Conv

In [15]:
# # Example network
# x = Input((1269,)) # input could be a multidim vector (e.g., (5,3) you have have 5 embeddings with dims of 3)
# y = BatchNorm(x, 0.1)
# y = SkipConn(y, 0.1, 5, x) # skip conn from input
# y = Attn(y, 0.1, 3)
# y = Dense(y, 0.1, 5)
# y = Conv(y, 0.1, 3)
# z = BatchNorm(y, 0.1)
# y = Dense(z, 0.1, 4)
# y = SkipConn(y, 0.1, 1, z)
# model = y

In [16]:
# #define model input data
# X = car_data.head(100).values

In [17]:
# car_data.head(10)

In [18]:
# model(X)